@model necore.model.student
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Data</title>
</head>
<body>
    <h3>@ViewBag.desc</h3>
   
    <div>
        Id:@Model.id
    </div>
    <div>
        Name:@Model.name
    </div>
    <div>
        Location:@Model.location
    </div>
    <div>
        City:@Model.city
    </div>
    <div>
        Salary:@Model.salary
    </div>
</body>
</html>